<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="Kvbfb5tJwbtqzSlfWITIJOFXe" />
    <add key="ConsumerSecret" value="pakPlGnnDkMFyhZyiOyV4J3K0ekglO8fxEEiI4jv5eCep3X5T8" />
    <add key="AccessToken" value="1073262668-sUzxPTfO4v3yk30JE2vzfZcrcOLo7vvcHWBEj8H" />
    <add key="AccessTokenSecret" value="5rBc1fasGdLzHBlwDQa0pDwLBYhelee2rwJBSAYOehSTJ" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
</configuration>