<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharpx.Collections" version="1.9.2" targetFramework="net45" />
  <package id="FSharpx.Core" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.Observable" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Xaml" version="1.8.41" targetFramework="net45" />
</packages>