<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <akka>
    <hocon><![CDATA[
          akka {
            log-config-on-start = off
            stdout-loglevel = INFO
            loglevel = INFO

            actor {

              serializers {
                wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
              }
              serialization-bindings {
                "System.Object" = wire
              }

              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"

              deployment {

                /ReaderActor {
                  router = round-robin-pool
                  nr-of-instances = 1
                  routees.paths = ["/user/ReaderActor"]
                  cluster {
                    enabled = on
                    max-nr-of-instances-per-node=1
                    allow-local-routees = off
                    use-role = api
                  }
                }

                /WriterActor {
                  router = round-robin-pool
                  nr-of-instances = 1
                  routees.paths = ["/user/WriterActor"]
                  cluster {
                    enabled = on
                    max-nr-of-instances-per-node=1
                    allow-local-routees = off
                    use-role = api
                  }
                }

              }

            }

            remote {
               helios.tcp {
                  hostname = "127.0.0.1"
                  port = 0
               }
            }
       }
      ]]></hocon>
  </akka>
</configuration>