@{
    ViewBag.Title = "Complete";
}

<h2>@ViewBag.Message</h2>

<ul>
    <li>@Html.ActionLink("Back to Store Home page", "Index", "StoreEDAFSharp")</li>
    <li>@Html.ActionLink("Back to Home page", "Index", "Home")</li>
</ul>