@{
    ViewBag.Title = "Index";
}

<ul>
    <li><h2>@Html.ActionLink("Store Starting implementation", "Index", "Store")</h2></li>
    <li><h2>@Html.ActionLink("Store EDA implementation", "Index", "StoreEDA")</h2></li>
    <li><h2>@Html.ActionLink("Store F# EDA implementation", "Index", "StoreEDAFSharp")</h2></li>
</ul>