<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="1.1.10" targetFramework="net45" />
  <package id="FSharp.Data.Experimental.SqlCommandProvider" version="1.1.21" targetFramework="net45" />
  <package id="FSharpx.TypeProviders" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.AppSettings" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Excel" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Graph" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Machine" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Management" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Math" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Regex" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Xaml" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Xrm" version="1.8.41" targetFramework="net45" />
</packages>